<h1 mat-dialog-title>Product detail</h1>
<div mat-dialog-content>
    <form [formGroup]="formProduct" class="w-full flex flex-col">
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" required>
            <mat-error *ngIf="formProduct.get('id')?.errors">{{getErrorMessage(formProduct.get('id'))}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" required>
            <mat-error
                *ngIf="formProduct.get('title')?.errors">{{getErrorMessage(formProduct.get('title'))}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" required></textarea>
            <mat-error
                *ngIf="formProduct.get('description')?.errors">{{getErrorMessage(formProduct.get('description'))}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" required>
            <mat-error
                *ngIf="formProduct.get('price')?.errors">{{getErrorMessage(formProduct.get('price'))}}</mat-error>
        </mat-form-field>
        <mat-divider></mat-divider>

        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
        </mat-radio-group>

    </form>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>